@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,500;1,600;1,900&display=swap');
        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;
            text-decoration: none;
            border: none;
            outline: none;
            scroll-behavior: smooth;
        }
        
         :root {
            --bg-color: #1f242d;
            --second-bg-color: #515968;
            --text-color: #fff;
            --main-color: #519fff;
        }
        
        html {
            font-size: 62.5%;
            overflow-x: hidden;

        }
        
        body {
            background: var(--bg-color);
            color: var(--text-color);
        }
        
        section {
            min-height: 100vh;
            padding: 10rem 9% 2rem;
        }
        
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 2rem 9%;
            background: var(--bg-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100;
        }
        
        .header.sticky {
            border-radius: .1rem solid rgba(0, 0, 0, .2);
        }
        
        .logo {
            font-size: 2.5rem;
            color: var(--text-color);
            font-weight: 600;
            cursor: default;
        }
        
        .navbar a {
            font-size: 1.7rem;
            color: var(--text-color);
            margin-left: 4rem;
            transition: .3s;
        }
        
        .btn {
            display: inline-block;
            padding: 1rem 2.8rem;
            background: var(--main-color);
            border-radius: 4rem;
            box-shadow: 0 0 1rem var(--main-color);
            font-size: 1.6rem;
            color: var(--bg-color);
            letter-spacing: .1rem;
            font-weight: 600;
            transition: .5s ease;
        }
        
        .btn:hover {
            box-shadow: none;
        }
        
        .btn i {
            font-size: 1.9rem;
        }
        
        .navbar a:hover,
        .navbar a:active {
            color: var(--main-color);
        }
        
        #menu-icon {
            font-size: 3.6rem;
            color: var(--text-color);
            display: none;
        }
        
        .home {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .home-img img {
            width: 40vw;
            animation: floatImage 4s ease-in-out infinite;
        }
        
        @keyframes floatImage {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-2.4rem);
            }
            100% {
                transform: translateY(0);
            }
        }
        
        .home-content h3 {
            font-size: 3.2rem;
            font-weight: 700;
        }
        
        .home-content h3:nth-last-of-type(2) {
            margin-bottom: 2rem;
        }
        
        span {
            color: var(--main-color);
        }
        
        .home-content h1 {
            font-size: 5.6rem;
            font-weight: 700;
            line-height: 1.3;
        }
        
        .home-content p {
            font-size: 1.6rem;
        }
        
        .social-media a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            background: transparent;
            border: .2rem solid var(--main-color);
            font-size: 2rem;
            border-radius: 50%;
            color: var(--main-color);
            margin: 3rem 1.5rem 3rem 0;
            transition: .5s ease;
        }
        
        .social-media a:hover {
            background: var(--main-color);
            color: var(--second-bg-color);
            box-shadow: 0 0 1rem var(--main-color);
        }
        
        .about {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            background: var(--second-bg-color);
        }
        
        .about-img img {
            animation: floatImage 4s ease-in-out infinite;
        }
        
        @keyframes floatImage {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-2.4rem);
            }
            100% {
                transform: translateY(0);
            }
        }
        
        .heading {
            text-align: center;
            font-size: 4.5rem;
        }
        
        .about-content h2 {
            text-align: left;
            line-height: 1.2;
        }
        
        .about-content h3 {
            font-size: 2.6rem;
        }
        
        .about-content p {
            font-size: 1.6rem;
            margin: 2rem 0 3rem;
        }
        
        .about-content img {
            width: 10rem;
        }
        
        .services h2 {
            margin-bottom: 5rem;
        }
        
        .services-container {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            margin-top: 1.6rem;
        }
        
        .services-box {
            flex: 1 1 30rem;
            background: var(--second-bg-color);
            padding: 3rem 2rem 4rem;
            border-radius: 2rem;
            text-align: center;
            border: .2rem solid var(--bg-color);
            transition: .5s ease;
        }
        
        .services-box {
            margin-top: 1.6rem;
        }
        
        .services-box:hover {
            border-color: var(--main-color);
            transform: scale(1.02)
        }
        
        .services-box i {
            font-size: 7rem;
            color: var(--main-color);
        }
        
        .services-box h3 {
            font-size: 2.6rem;
        }
        
        .services-box p {
            font-size: 1.6rem;
        }
        
        .btn {
            margin-top: 1.7rem;
        }
        
        .porfolio {
            background: var(--second-bg-color);
        }
        
        .porfolio h2 {
            margin-bottom: 4rem;
        }
        
        .portfolio-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            gap: 2.5rem;
        }
        
        .porfolio-box {
            position: relative;
            border-radius: 2rem;
            box-shadow: 0 0 1rem var(--bg-color);
            overflow: hidden;
            display: flex;
        }
        
        .porfolio-box img {
            width: 100%;
            transition: .5s ease;
        }
        
        .porfolio-box:hover img {
            transform: scale(1.1);
        }
        
        .porfolio-box:hover .porfolio-layer {
            transform: translateY(0);
            opacity: 1;
        }
        
        .porfolio-layer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 0 4rem;
            transform: translateY(100%);
            transition: .5s ease;
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 0;
        }
        
        .porfolio-layer h4 {
            font-size: 2rem;
        }
        
        .porfolio-layer p {
            font-size: 1.6rem;
            margin: .3rem 0 1rem;
        }
        
        .porfolio-layer a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;
        }
        
        .porfolio-layer a i {
            font-size: 3rem;
            color: var(--text-color);
        }
        
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            z-index: 9999;
            opacity: 0;
            transition: opacity 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .img-wrapper {
            max-width: 100%;
            max-height: 100%;
            overflow: auto;
        }
        
        .overlay.open {
            opacity: 1;
        }
        
        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 2rem 9%;
            background: var(--second-bg-color);
        }
        
        .footer-text p {
            font-size: 1.5rem;
        }
        
        .footer-text a {
            color: var(--main-color);
        }
        
        .footer-iconTop a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: .8rem;
            background: var(--main-color);
            border-radius: .8rem;
            transition: .5s ease;
        }
        
        .footer-iconTop a:hover {
            box-shadow: 0 0 1rem var(--main-color);
        }
        
        .footer-iconTop a i {
            font-size: 2.4rem;
            color: var(--bg-color);
        }
        
        .about-me .content ul {
            list-style: none;
            padding: 0;
        }
        
        .about-me .content ul li {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }
        
        .about-me .content ul strong {
            margin-right: 10px;
        }
        
        .about-me .content ul i {
            font-size: 16px;
            margin-right: 5px;
            color: #18d26e;
            line-height: 0;
        }
        
        .about-me .content p:last-child {
            margin-bottom: 0;
        }
        
        @media (max-width: 1200px) {
            html {
                font-size: 55%;
            }
        }
        
        @media (max-width: 991px) {
            .header {
                padding: 2rem 3%;
            }
            section {
                padding: 10rem 3% 2rem;
            }
            .services {
                padding-bottom: 7rem;
            }
            .porfolio {
                padding-bottom: 7rem;
            }
            .contact {
                min-height: auto;
            }
            .footer {
                padding: 2rem 3%;
            }
        }
        
        @media (max-width: 768px) {
            #menu-icon {
                display: block;
            }
            .navbar {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 1rem 3%;
                background: var(--bg-color);
                border-top: .1rem solid rgba(0, 0, 0, .2);
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
                display: none;
            }
            .navbar.active {
                display: block;
            }
            .navbar a {
                display: block;
                font-size: 2rem;
                margin: 3rem 0;
            }
            .home {
                flex-direction: column;
            }
            .home-content h3 {
                font-size: 2.6rem;
            }
            .home-content h1 {
                font-size: 5rem;
            }
            .home-img img {
                width: 70vw;
                margin-top: 4rem;
            }
            .about {
                flex-direction: column-reverse;
            }
            .about img {
                width: 70vw;
                margin-top: 4rem;
            }
            .services h2 {
                margin-bottom: 3rem;
            }
            .porfolio h2 {
                margin-bottom: 7rem;
            }
            .portfolio-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        
        @media (max-width: 617px) {
            .portfolio-container {
                grid-template-columns: 1fr;
            }
            .services h2 {
                margin-bottom: 3rem;
            }
        }
        
        @media (max-width: 450px) {
            html {
                font-size: 50%
            }
            .contact form .input-box input {
                width: 100%;
            }
            .footer {
                flex-direction: column-reverse;
            }
            .footer p {
                text-align: center;
                margin-top: 3rem;
            }
        }
        
        @media (max-width: 365px) {
            .home-img img {
                width: 90vw;
            }
            .about-img img {
                width: 90vw;
            }
            .footer {
                flex-direction: column-reverse;
            }
            .footer p {
                text-align: center;
                margin-top: 2rem;
            }
        }
        
        .skills .progress {
            height: 7rem;
            display: block;
            background: none;
            border-radius: 0;
        }
        
        .skills .progress .skill {
            padding: 1rem 0;
            margin: 0;
            display: block;
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--text-color);
        }
        
        .skills .progress .skill .val {
            float: right;
            font-style: normal;
        }
        
        .skills .progress-bar-wrap {
            background: var(--second-bg-color);
        }
        
        .skills .progress-bar {
            height: 1rem;
            transition: 0.9s;
            background-color: var(--main-color);
        }
        
        .skills .container {
            position: relative;
        }
        
        .resume .resume-title {
            font-size: 2rem;
            font-weight: 700;
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: var(--text-color);
        }
        
        .resume .resume-item {
            padding: 0 0 2rem 2rem;
            margin-top: -2px;
            border-left: 2px solid var(--second-bg-color);
            position: relative;
        }
        
        .resume .resume-item h4 {
            line-height: 1.8rem;
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: uppercase;
            color: var(--main-color);
            margin-bottom: 1rem;
        }
        
        .resume .resume-item h5 {
            font-size: 1.6rem;
            background: rgba(255, 255, 255, 0.15);
            padding: 0.5rem 1rem;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        
        .resume .resume-item ul {
            padding-left: 2rem;
        }
        
        .resume .resume-item ul li {
            padding-bottom: 0;
        }
        
        .resume .resume-item:last-child {
            padding-bottom: 0;
        }
        
        .resume .resume-item::before {
            content: "";
            position: absolute;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 5rem;
            left: -1rem;
            top: 0;
            background: var(--main-color);
            border: 0.1rem solid var(--main-color);
        }
        
        .resume-item a {
            color: var(--main-color);
        }
        
        .resume-item p {
            font-size: 1.4rem;
        }
        
        .resume-item li {
            font-size: 1.4rem;
        }
